
p{
    column-count: 3;
    column-rule: 2px dashed black;text-align:justify;
    /* column-rule-style:dotted; */
    
    
}

h1{
 justify-self: center;   
 text-decoration: underline;
 text-decoration-style: double;
}

#img1{
    height: 200px;
    width:240px;
}
#span1{
    font-size: 20px;
    font-weight: 700;
}

